# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.env
.env.*
.venv/
venv/
pip-wheel-metadata/
*.egg-info/
build/
dist/

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Uvicorn / FastAPI
*.pid

# Docker
*.tar
*.img
docker-compose.override.yml

# Coverage / testing
.coverage
htmlcov/
pytest_cache/

# Misc
*.bak
aggregate.ps1
aggregate.txt